.sugerencias{
  margin-top: 20px;
}



.goal{
  background-color: rgb(240,242,245);
  border-top: 2px solid #333;
  padding: 14px 20px;
}

.goal__inverted{
  background-color: #fff
}


.goal .heading{
  font-size: 14px;
  color: #999;
  text-transform: capitalize;
}

.goal__inverted .heading{
  color: #333;
}


.goal .heading-reponse{
  font-size: 13px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
  margin-top: 2px;
  text-transform: capitalize;
}

.goal .familias{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.goal .familias li{
  font-size: 13px;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
  display: inline-block;
  
  margin: 2px 4px;
}

.goal li{
  background-color: inherit;
}

.goal li .nombre{
    font-size: 13px;
    

}